# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/tickets_db
DB_USERNAME=postgres
DB_PASSWORD=password

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test
STRIPE_WEBHOOK_SECRET=wh_secret
STRIPE_CURRENCY=usd

# JWT Configuration
JWT_ISSUER_URI=http://localhost:9090/realms/event-ticket-platform
